@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito+Sans:wght@200&family=Roboto:wght@100&display=swap');

body {
    background: rgb(253, 248, 248);
}

header {
    display: flex;
    width: 100vw;
    height: 70px;
    /* background: linear-gradient(90.25deg, #7F669D 0%, #BA94D1 30%, #DEBACE 60%, #F7CD8E 90%); */
    background: #4C3364;;
    padding-left: 96px;
    padding-right: 96px;
}

.logo_ihub {
    font-family: 'Alata', sans-serif;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 30px;
    gap: 50px;
    font-size: 16px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.menu :hover  {
  color: #BA94D1;
}




/* Dropdown  */



.dropdown-link {
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
    color: #fffdfd;
   
  }
  
  .dropdown  {
    position: absolute;
    display: block;
    background-color: #7F669D; 
    top: 120%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    width: 200px;
  }
  
  .dropdown a {
    display: flex;
    color:#fff;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
   
  }

  .dropdown-link:hover .dropdown {
    
    opacity: 1;
    visibility: visible;
  }
  .dropdown-link:hover a i {
    transform: rotate(-180deg);

    
  }
.login-ihub {
    margin-left: 300px;
    font-family: 'Alata', sans-serif;
    color: rgb(154, 96, 159);
}
.DATA_TEXT h3{
    padding-bottom: 36px;
    padding-left: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    color: #000;
}
.Dialog{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -40px;
    margin-right: 40px;
    justify-content: right;
}
h3{
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
}
h4{
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}
h5{
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
}
.contained{
    font-family: 'Kanit', sans-serif;
}
.b-0{
    width: 320px;
    font-family: 'Kanit', sans-serif;
}
.b-0 label {
    font-family: 'Kanit', sans-serif;
}
.b-1 label {
    font-family: 'Kanit', sans-serif;
}
.DATA_SEARCH {
    height: 158px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);

}
.DATA_SEARCH h6{
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    color: #000;
}
.p-input-icon-right{
    margin-left: 10px;
}

.MAT_TABLE {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.HEAD_BOX_NUMBER {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    color: #757575;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 80px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    flex: none;
    order: 0;
    flex-grow: 0;

}

.HEAD_BOX_EMPLOYEE_ID {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    color: #757575;
    width: 134px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.HEAD_BOX_FNAME_LNAME {

    
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    color: #757575;
    width: 134px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    font-family: 'Kanit', sans-serif;
    /* Inside auto layout *


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.HEAD_BOX_POSITION {
    
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    color: #757575;
    width: 110px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    font-family: 'Kanit', sans-serif;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.HEAD_BOX_AFFILIATION {
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    font-family: 'Kanit', sans-serif;
    color: #757575;
    width: 234px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.HEAD_BOX_IHUB_POSITION {    
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    color: #757575;
    width: 156px;
    height: 48px;
    font-family: 'Kanit', sans-serif;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.HEAD_BOX_PERFORMANCE {   
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    color: #757575;
    width: 128px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    font-family: 'Kanit', sans-serif;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.HEAD_BOX_DELETE_EDIT {   
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    color: #757575;
    width: 333px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    font-family: 'Kanit', sans-serif;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.BOX_NUMBER {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    font-family: 'Kanit', sans-serif;
    width: 80px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}
.BOX_EMPLOYEE_ID {
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Kanit', sans-serif;
      width: 134px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}
.BOX_FNAME_LNAME {   
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    width: 219px;
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.BOX_POSITION {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    width: 110px;
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.BOX_AFFILIATION {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    width: 234px;
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.BOX_IHUB_POSITION {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    width: 156px;
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.BOX_PERFORMANCE {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    width: 128px;
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.BOX_DELETE_EDIT {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    width: 233px;
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}
.shadow {
    background: #FFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.ui-column-data{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}
.pagin{
    margin-top: -8px;
    height: 58px;
    background: #FFFFFF;

}
.full-time-body {
   
    text-align: center;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    background-color: #4C3364;
    border-radius: 24px;
    width: 90px;
    
 } 
 .position{
    display: table-caption;
    font-family: 'Kanit', sans-serif;
    color: #000000;
    font-size: 14px;
    border-radius: 24px;
    
 } 
 .ihubbody body{
    text-align: center;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    background-color: #4C3364;
    border-radius:4px;
    width: 20px;
 }

 .positionIhub-body{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
 }
i {
    z-index: 1;
  }
  ::ng-deep .p-autocomplete .p-inputtext {
    padding-left: 28px;
  }
.UPLOAD1{
    margin-left: -110px;
}
.T1{
    display: flex;
}