  
  body {
    background: rgb(253, 248, 248);
} 
  /* หน้าสร้างโครงการ */
  .HEAD-PROJECT h3{
    font-family: 'Kanit', sans-serif;
    margin-bottom:  10px;
    font-size: 25px;
    color: #000000;
  }
  
  .BG-PROJECT{
    width: 100%;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }  
    .BG-PROJECT h3{
    padding: 22px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #000;
  
    }  
  .PROJECT-1{

    display: flex;
    justify-content: center;
}

.PROJECT-1 h3{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;

}
.PROJECT-2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.PROJECT-2 h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
}
.PROJECT-3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: -35px;
}

.PROJECT-3 h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  margin-left: 55px;
  color: #000;

}
.PROJECT-4 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 10px;

}
.PROJECT-4 h3{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;

}

 .PROJECT-5 {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.PROJECT-5 h3{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;

}

.PROJECT-5 {
  display: flex;
  justify-content: center;
 margin-right: 50px;
}
.PROJECT-5 h4{
 text-decoration: underline;
 color: #000000;
}
.PROJECT-6{
  display: flex;
 justify-content: center;
 margin-top: 50px;
 margin-left: 160px;

}
.dropzone {
  justify-content: center;
  color: #999;
  border: 1px dashed #999;
  padding-left: 175px;
  padding-right: 168px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-decoration: underline;
}
:hover.dropzone{
  color: red;
}
.dropzone.dragover {
  background-color: #eee;
}
.dropzone.dragleave {
  background-color: #fff;
}
.container{
  color: #999;
  font-family: 'Kanit';
}
.custom-toast .p-toast-summary {
  font-family: 'Kanit', sans-serif;
}

.PROJECT-7 {
  display: flex;
  align-items: center;
 margin-top: 20px;
 

}
.PROJECT-7 h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;

  color: #000;
}
.PROJECT-8 {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-left: -8px;
}
.PROJECT-8 h3 {
 
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;
 
}