body {
    background: rgb(253, 248, 248);
}
  
  /* หน้าสร้างโครงการ */
  .HEAD-PROJECT1 h3{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .BG-PROJECT1{
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }  
    .BG-PROJECT1 h3{
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #000;
  
    }  

    .BG-PROJECT-2{
      width: 100%;
      height: 260px;
      background: #FFFFFF;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      }  
      .BG-PROJECT-2 h3{
      padding: 20px;
      font-family: 'Kanit', sans-serif;
      font-size: 20px;
      color: #000;
    
      }  


    .BOX1 h3 {
      font-family: 'Kanit', sans-serif;
      font-size: 15px;
      color: #000;
    }
 .BOX2{
  width: 100%;
  height:72px;
  background: #FFFFFF;
  box-shadow: 0px 0.1px 0.5px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 5px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
 }
 .BOX2 h3{
 
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;
 }
 
 .POPUP {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -50px;
  margin-right: 40px;
  justify-content: right;
 }